1. Buatlah program untuk menghitung pangkat 2 dari angka 1 hingga 50!

In [1]:
# Kerjakan nomor 1 di sini
for x in range(1,51):
    y = x**2
    print(f'{x} dipangkatkan 2 = {y}')

1 dipangkatkan 2 = 1
2 dipangkatkan 2 = 4
3 dipangkatkan 2 = 9
4 dipangkatkan 2 = 16
5 dipangkatkan 2 = 25
6 dipangkatkan 2 = 36
7 dipangkatkan 2 = 49
8 dipangkatkan 2 = 64
9 dipangkatkan 2 = 81
10 dipangkatkan 2 = 100
11 dipangkatkan 2 = 121
12 dipangkatkan 2 = 144
13 dipangkatkan 2 = 169
14 dipangkatkan 2 = 196
15 dipangkatkan 2 = 225
16 dipangkatkan 2 = 256
17 dipangkatkan 2 = 289
18 dipangkatkan 2 = 324
19 dipangkatkan 2 = 361
20 dipangkatkan 2 = 400
21 dipangkatkan 2 = 441
22 dipangkatkan 2 = 484
23 dipangkatkan 2 = 529
24 dipangkatkan 2 = 576
25 dipangkatkan 2 = 625
26 dipangkatkan 2 = 676
27 dipangkatkan 2 = 729
28 dipangkatkan 2 = 784
29 dipangkatkan 2 = 841
30 dipangkatkan 2 = 900
31 dipangkatkan 2 = 961
32 dipangkatkan 2 = 1024
33 dipangkatkan 2 = 1089
34 dipangkatkan 2 = 1156
35 dipangkatkan 2 = 1225
36 dipangkatkan 2 = 1296
37 dipangkatkan 2 = 1369
38 dipangkatkan 2 = 1444
39 dipangkatkan 2 = 1521
40 dipangkatkan 2 = 1600
41 dipangkatkan 2 = 1681
42 dipangkatkan 2 = 1764
43 dipangkatkan 2 = 1849
44 dipangkatkan 2 = 1936
45 dipangkatkan 2 = 2025
46 dipangkatkan 2 = 2116
47 dipangkatkan 2 = 2209
48 dipangkatkan 2 = 2304
49 dipangkatkan 2 = 2401
50 dipangkatkan 2 = 2500

2. Buatlah sebuah list yang berisi daftar nama mahasiswa angkatan kalian minimal sejumlah 10 nama. Kemudian buat program pencarian menggunakan pengulangan, di mana apabila nama yang user inputkan sudah sesuai dengan isi list maka program akan berhenti dan menampilkan output "Pencarian anda sudah berakhir"

catatan: perhatikan user dapat menginputkan menggunakan baik huruf kapital maupun tidak

In [15]:
# Kerjakan nomor 2 di sini
list_nama = ['rafif','rapip','rapep','pip','pep','gandhi','panipuri','behel','baut','india',]
fungsi = input('masukkan nama')
fungsi = fungsi.lower()
for x in list_nama:
    if fungsi == x:
        print(f'{x} \nPencarian and sudah berakhir')
        break
    print(x)

rafif
Pencarian and sudah berakhir

3. Disajikan list sebagai berikut

In [ ]:
bulan = ['januari', 'februari', 'maret', 'april','mei','juni','juli','agustus','september','oktober','november','desember']
kota = ['jakarta' , 'kuala lumpur', 'bangkok', 'seoul', 'canada','london','dubai','barcelona']

Robert adalah seorang penyanyi terkenal. Dia merencanakan konser world tour di tahun 2024 mendatang di berbagai negara. Dengan catatan pada bulan April dan Mei, Robert kembali ke indonesia untuk istirahat sejenak kemudian melanjutkan lagi konser. Berdasarkan kasus tersebut buatlah program pengulangannya!

In [21]:
# kerjakan nomor 3 di sini
bulan = ['januari', 'februari', 'maret', 'april','mei','juni','juli','agustus','september','oktober','november','desember']
kota = ['jakarta' , 'kuala lumpur', 'bangkok', 'seoul', 'canada','london','dubai','barcelona']
i=0
for j in bulan:
    if j in['april','mei']:
        print('Robert akan is akan istirahat di bulan', j)
        continue
    print('Robert akan tampil di', kota[i], f'pada bulan {j}')
    i = i+1 
    if i == 8:
        i = 0

Robert akan tampil di jakarta pada bulan januari
Robert akan tampil di kuala lumpur pada bulan februari
Robert akan tampil di bangkok pada bulan maret
Robert akan is akan istirahat di bulan april
Robert akan is akan istirahat di bulan mei
Robert akan tampil di seoul pada bulan juni
Robert akan tampil di canada pada bulan juli
Robert akan tampil di london pada bulan agustus
Robert akan tampil di dubai pada bulan september
Robert akan tampil di barcelona pada bulan oktober
Robert akan tampil di jakarta pada bulan november
Robert akan tampil di kuala lumpur pada bulan desember